/* Centering Secara Vertikal */
.box1 {
    font-size: 5rem;
    max-width: 100%;
    height: 250px;

    /* Centering horizontally */
    text-align: center;

    /* Centering vertically */
    line-height: 250px;
    /* line-height: 300px; */
}

/* Fluid Secara Dinamis dan Rata */
#app {
    border: 2px solid red;
}

#app>* {
    height: 300px;
}

aside {
    background-color: lightcoral;

    float: left;
    width: 33%;
}

main {
    background-color: lightgreen;

    float: left;
    width: 33%;
}

.toc {
    background-color: lightskyblue;

    float: right;
    width: 34%;
    /* penyebab ukuran tidak rata seperti child element lain */
}

/* Memiliki Height yang Sama pada Multi-Column */
* {
    box-sizing: border-box;
    margin: 0;
}

.product-list>.product-item {
    float: left;

    width: 50%;

    /* Nyalakan kode berikut agar mencapai kesamaan tinggi */
    /* height: 400px; */
}

.product-item {
    border: 1px solid black;

    transition: all 150ms ease-in;
}

.product-item main {
    padding: 16px;
}

.product-item .product__title {
    font-size: 2rem;
    margin: 0;
}

.product-item .char__description {
    margin-block: 0.5rem;
}

.clear {
    clear: both;
}

footer {
    padding: 18px 28px;
}



/* Display */
.flex {
    display: flex;
}

/* Flex Direction */
.container {
    display: flex;
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
}

/* Flex Wrap */
.box {
    width: 200px;
    height: 100px;
    
    margin-bottom: 8px;
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    display: flex;
    
    /* Silakan coba seluruh nilainya */
    flex-wrap: nowrap;
    /*flex-wrap: wrap;*/
    /*flex-wrap: wrap-reverse;*/
  }

  /* Justify Content */
  .box {
    width: 100px;
    height: 100px;
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    display: flex;
    
    /* Silakan coba seluruh nilainya */
    justify-content: flex-start;
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    /*justify-content: space-evenly;*/
  }

  /* Align Items */
  .box {
    width: 100px;
    /*height: 100px;*/
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    height: 50vh;
    display: flex;
    
    /* Silakan coba seluruh nilainya */
    align-items: stretch;
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    /*align-items: center;*/
    /*align-items: baseline;*/
  }

  /* Align Content */
  .box {
    width: 100px;
    /*height: 100px;*/
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    background-color: lightgrey;
    height: 50vh;
    display: flex;
    
    /* Align content hanya bekerja saat membentuk multi-lines*/
    flex-wrap: wrap;
    
    /* Silakan coba seluruh nilainya */
    align-content: flex-start;
    /*align-content: flex-end;*/
    /*align-content: center;*/
    /*align-content: space-between;*/
    /*align-content: space-around;*/
    /*align-content: space-evenly;*/
  }

  /* Gap */
  .box {
    width: 100px;
    height: 100px;
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    display: flex;
    
    flex-wrap: wrap;
    
    /* Silakan coba seluruh nilainya */
    gap: 16px;
    /*gap: 16px 24px;*/
    /*row-gap: 16px;*/
    /*column-gap: 24px;*/
  }

  /* Order */
  .box {
    width: 100px;
    height: 100px;
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    display: flex;
    
    gap: 8px;
  }
  
  /* Silakan ubah nilai-nilai `order` berikut. */
  .box1 {
    order: 1;
  }
  
  .box2 {
    order: 0;
  }
  
  .box3 {
    order: -1;
  }
  
  .box4 {
    order: 5;
  }
  
  .box5 {
    order: 4;
  }

  /* Flex Grow */
  .box {
    height: 100px;
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    display: flex;
    
    gap: 8px;
  }
  
  /* Silakan ubah nilai-nilai `flex-grow` berikut. */
  .box1 {
    flex-grow: 2;
  }
  
  .box2 {
    flex-grow: 0;
  }
  
  .box3 {
    flex-grow: 1;
  }

  /* Flex Shrink */
  [class^=shrink] {
    display: flex;
  }
  
  .shrink-1 .box {
    background-color: salmon;
  
    flex-shrink: 1;
  }
  
  .shrink-0 .box {
    background-color: lime;
  
    flex-shrink: 0;
  }

  /* Flex Basis */
  .box {
    height: 100px;
  }
  
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    padding: 8px;
    background-color: lightgrey;
  
    width: 300px;
    display: flex;
    
    gap: 8px;
  }
  
  .box1 {
    flex-basis: 50px;
  }
  
  .box2 {
    flex-basis: 150px;
  }
  
  .box3 {
    flex-basis: 100px;
  }

  /* Align Self */
  .box:nth-child(odd) {
    background-color: salmon;
  }
  
  .box:nth-child(even) {
    background-color: lime;
  }
  
  .flex {
    padding: 8px;
    background-color: lightgrey;
  
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
  
    gap: 8px;
  }
  
  [class^=box] {
    flex-basis: 100px;
  }
  
  .box1 {
    align-self: flex-end;
  }
  
  .box3 {
    align-self: flex-start;
  }
  
  
  
  
  
  
  